<!doctype html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">Admin - Christa Patrice</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right">
              <a class="nav-item nav-link active" href="/admin_dashboard">Dashboard
                <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/admin_product_category">Product Category</a>
                <a class="nav-item nav-link" href="/admin_product_dashboard">Product Dashboard</a>
            </div>
            <a href="/admin_logout"><button type="button" class="btn btn-danger">Log Out</button></a>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="admin-page-title">
        <br>
        <h3>Registered Customers</h3>
        <br>
      </div>

      <table class="table">
        <thead class="thead-light">
          <th>NAME</th>
          <th>EMAIL</th>
          <th>CITY, STATE</th>
          <th>ORDER</th>
          <th>DESCRIPTION</th>
          <th>QUANTITY</th>
          <th>PRICE</th>
        </thead>
        <tbody>

          <% for(let i=0; i<customer.length; i++ ){ %>
            <tr>
              <td><%= customer[i].first_name %> <%= customer[i].last_name %></td>
              <td><%= customer[i].email %></td>
              <td><%= customer[i].city %>, <%= customer[i].state %></td>
        
              <% for(let k=0; k<order_detail.length; k++ ){ %>
                <% if (customer[i].id === order_detail[k].customer_id) { %>

                  <td><%= order_detail[k].item_name %></td>
                  <td><%= order_detail[k].description %></td>
                  <td><%= order_detail[k].quantity %></td>
                  <td><%= order_detail[k].price %></td>
                  
                  <%  } %>
                  <%  } %>
                  <%  } %>
                </tr>

        </tbody>
      </table>
    </div>
    <footer class="admin-footer">
      <div class="container">
        <div>
          &copy; 2017. All Rights Reserved.
        </div>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
