<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Christa Patrice</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
		<meta name="keywords" content="arts, painting, artwork" />
		<meta name="author" content="Marie, Ali, Rahul" />



	  	<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="favicon.ico">

		<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

		<!-- Animate.css -->
		<link rel="stylesheet" href="css/animate.css">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="css/icomoon.css">
		<!-- Bootstrap  -->
		<link rel="stylesheet" href="css/bootstrap.css">

		<!-- Flexslider  -->
		<link rel="stylesheet" href="css/flexslider.css">

		<link rel="stylesheet" href="css/style.css">


		<!-- Modernizr JS -->
		<script src="js/modernizr-2.6.2.min.js"></script>
		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script src="js/respond.min.js"></script>
		<![endif]-->

		<script src="https://js.stripe.com/v3/"></script>

	</head>

	<body>

// START STYLING

		<nav id="cp-main-nav" role="navigation">
			<a href="#" class="js-cp-nav-toggle cp-nav-toggle active"><i></i></a>
			<div class="js-fullheight cp-table">
				<div class="cp-table-cell js-fullheight">
					<ul>
						<li><a href="/index">Home</a></li>
						<li><a href="/product">Product</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/customer_login">Login/Register</a></li>
						<li><a href="/cart">Shopping Cart</a></li>
					</ul>

					<p class="cp-social-icon">
						<a href="#"><i class="icon-twitter2"></i></a>
						<a href="#"><i class="icon-facebook2"></i></a>
						<a href="#"><i class="icon-instagram"></i></a>
						<a href="#"><i class="icon-dribbble2"></i></a>
						<a href="#"><i class="icon-youtube"></i></a>
					</p>
				</div>
			</div>
		</nav>

		<div id="cp-page">

			<header>
				<div class="container">
					<div class="cp-navbar-brand">
						<h1 class="text-center"><a class="cp-logo" href="index.html">Christa</a></h1>
						<a href="#" class="js-cp-nav-toggle cp-nav-toggle"><i></i></a>
					</div>
				</div>
			</header>

			<div id="cp-intro-section">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 animate-box text-center">
							<h2 class="intro-heading">A place to find art</h2>
							<p><span>Created with <i class="icon-heart3"></i> by Christa Patrice</p>
						</div>
					</div>
				</div>
			</div>

			<div>
				<h1>CONTENT GOES HERE - 'cart.ejs'</h1>

				<div class="container">
					<div class="row">

						<div class="col-md-12 animate-box">

							<h3>Your Items are listed here</h3>

							<!-- // TABLE WITH CART ITEMS -->
							<table class="table">


							  <thead class="thead-dark">
									<tr>
										<th scope="col">Item ID</th>
										<th scope="col">Item Name</th>
										<th scope="col">Item Description</th>
										<th scope="col">Item Price</th>
										<th scope="col">Item Tax</th>
									</tr>
								</thead>
								<% var total = 0; %>
								<% var grandTotal = 0; %>
								<% var tax = 0.06; %>
								<% for(var i = 0; i < cartObj.length; i++) { %>

								<tbody>
									<tr>
										<td><%= cartObj[i] %></td>
										<td><%= pdt[cartObj[i]].product_name %> </td>
										<td><%= pdt[cartObj[i]].product_description %> </td>
										<td><%= pdt[cartObj[i]].price %> </td>
										<% total = parseFloat(Math.round((pdt[cartObj[i]].price) * 100)/ 100); %>
										<% let itemTax = (total * tax).toFixed(2); %>


										<% total = (total + (total * tax)); %>
										<% grandTotal = (grandTotal + total); %>
										<td><%= itemTax; %></td>
									</tr>

									<% } %>
								</tbody>

							</table>
							<div class="shoppingCartTotalDiv">
								<div>
									<p>Shipping: $ 10.00</p>
									<p>Grand Total: $ <%= (grandTotal + 10).toFixed(2); %></p>


										<form action="/your-server-side-code" method="POST">
										  <script
										    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
										    data-key="pk_test_mYHn4d9AFhScljDDifgHMZaT"
										    data-amount="999"
										    data-name="Christa Patrice"
										    data-description="Widget"
										    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
										    data-locale="auto">
										  </script>
										</form>
								</div>








							</div>


							<!-- // SUBMIT BUTTON -->
							<div class="form-group">
								<!-- <input type="submit" value="Checkout" class="btn btn-primary"> -->
							</div>

						</div>

					</div>
				</div>

			</div>

			<div class="cp-counters" style="background-image: url(images/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
				<div class="cp-narrow-content animate-box">
					<div class="row" >
						<div class="col-md-4 text-center">
							<span class="cp-counter js-counter" data-from="0" data-to="130" data-speed="5000" data-refresh-interval="50"></span>
							<span class="cp-counter-label">Happy Clients</span>
						</div>
						<div class="col-md-4 text-center">
							<span class="cp-counter js-counter" data-from="0" data-to="1450" data-speed="5000" data-refresh-interval="50"></span>
							<span class="cp-counter-label">Facebook Likes</span>
						</div>
						<div class="col-md-4 text-center">
							<span class="cp-counter js-counter" data-from="0" data-to="7497" data-speed="5000" data-refresh-interval="50"></span>
							<span class="cp-counter-label">DeviantArt Likes</span>
						</div>
					</div>
				</div>
			</div>

			<footer>
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<h3 class="section-title">Christa</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>

							<div class="col-md-4 col-md-push-1">
								<h3 class="section-title">Links</h3>
								<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/product">Product</a></li>
									<li><a href="/about">About</a></li>
									<li><a href="/contact">Contact</a></li>
								</ul>
							</div>

							<div class="col-md-4">
								<h3 class="section-title">User</h3>
								<ul>
									<li><a href="/register_login">Register/Login</a></li>
									<li><a href="/cart">Shopping Cart</a></li>
									<li><a href="#">Terms &amp; Condition</a></li>
									<li><a href="#">Privacy &amp; Policy</a></li>
								</ul>
							</div>
						</div>
						<div class="row copy-right">
							<div class="col-md-6 col-md-offset-3 text-center">
								<p class="cp-social-icon">
									<a href="#"><i class="icon-twitter2"></i></a>
									<a href="#"><i class="icon-facebook2"></i></a>
									<a href="#"><i class="icon-instagram"></i></a>
									<a href="#"><i class="icon-dribbble2"></i></a>
									<a href="#"><i class="icon-youtube"></i></a>
								</p>
								<p>&copy; 2017. All Rights Reserved.Z</p>
							</div>
						</div>
					</div>
				</div>
			</footer>

		</div>

// END STYLING

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>

	<!-- Main JS -->
	<script src="js/main.js"></script>


	</body>
</html>
