<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Online Art Gallery for Christa Patrice</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Online art gallery for Christa Patrice" />
		<meta name="keywords" content="arts, painting, artwork" />
		<meta name="author" content="Marie, Ali, Rahul" />



	  	<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="favicon.ico">

		<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

		<!-- Animate.css -->
		<link rel="stylesheet" href="css/animate.css">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="css/icomoon.css">
		<!-- Bootstrap  -->
		<link rel="stylesheet" href="css/bootstrap.css">

		<!-- Flexslider  -->
		<link rel="stylesheet" href="css/flexslider.css">

		<link rel="stylesheet" href="css/style.css">


		<!-- Modernizr JS -->
		<script src="js/modernizr-2.6.2.min.js"></script>
		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script src="js/respond.min.js"></script>
		<![endif]-->

	</head>

	<body>

		<nav id="cp-main-nav" role="navigation">
			<a href="#" class="js-cp-nav-toggle cp-nav-toggle active"><i></i></a>
			<div class="js-fullheight cp-table">
				<div class="cp-table-cell js-fullheight">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/product">Product</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
						<% if (isLogged){ %>
						<li><a href="/customer_profile">Customer Profile</a></li>
						<% }else{%>
						<li><a href="/register_login">Register/Login</a></li>
						<% } %>
						<li><a href="/cart">Shopping Cart</a></li>
					</ul>
					<p class="cp-social-icon">
						<a href="#"><i class="icon-twitter2"></i></a>
						<a href="#"><i class="icon-facebook2"></i></a>
						<a href="#"><i class="icon-instagram"></i></a>
						<a href="#"><i class="icon-dribbble2"></i></a>
						<a href="#"><i class="icon-youtube"></i></a>
					</p>
				</div>
			</div>
		</nav>

	<div id="cp-page">
		<header>
			<div class="container">
				<div class="cp-navbar-brand">
					<h1 class="text-center"><a class="cp-logo" href="/">Christa Patrice</a></h1>
					<a href="#" class="js-cp-nav-toggle cp-nav-toggle"><i></i></a>
				</div>
			</div>
		</header>

		<div id="cp-intro-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 animate-box text-center">
						<h2 class="intro-heading">Welcome <%= user.first_name %></h2>
						<p><span>Created with <i class="icon-heart3"></i> by Christa Patrice</p>
					</div>
				</div>
			</div>
		</div>


		<div id="cp-contact-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 prod text-left animate-box">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="profile-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Orders</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="contact-tab" data-toggle="tab" href="#edit_profile" role="tab" aria-controls="edit_profile" aria-selected="false">Edit Profile</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
								<div>
									<br>
									<p>Name: <%= user.first_name %> <%= user.last_name %></p>
									<p>Email: <%= user.email %></p>
									<p>Password: ************ </p>
									<p>Phone: <%= user.phone %></p>
									<p>Address: <%= user.address %></p>
									<p>Apt/suite: <%= user.apt_suite %></p>
									<p>City: <%= user.city %></p>
									<p>State: <%= user.state %></p>
									<p>Zipcode: <%= user.zip %></p>
									<br>
									<a href="/user_logout"><button type="button" class="btn btn-danger btn-sm">Log Out</button></a>
									<br>
								</div>
							</div>
							<div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">

								<div>
									<br>
									<table class="table">
										<thead class="thead-light">
											<th>ID</th>
											<th>ITEM NAME</th>
											<th>DESCRIPTION</th>
											<th>QUANTITY</th>
											<th>PRICE</th>
										</thead>
										<tbody>
											<% for(let i=0; i<order.length; i++){ %>
												<% if(order[i].customer_id === user.id){ %>
													<td><%= order[i].id %> </td>
													<td><%= order[i].item_name %> </td>
													<td><%= order[i].description %> </td>
													<td><%= order[i].quantity %> </td>
													<td><%= order[i].price %> </td>
												<% } %>
											<% } %>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="edit_profile" role="tabpanel" aria-labelledby="edit_profile-tab">
								<div>
									<div>
										<br>
										Edit Your Profile
										<br>
										<br>
									</div>
									<form action="/edit_customer_profile/<%= user.id %>" method="post">
										<div class="form-group">
											<input type="text" name="first_name" class="form-control" value="<%= user.first_name %>">
										</div>
										<div class="form-group">
											<input type="text" name="last_name" class="form-control" value="<%= user.last_name %>">
										</div>
										<div class="form-group">
											<input type="text" name="email" class="form-control" value="<%= user.email %>">
										</div>
										<div class="form-group">
											<input type="text" name="phone" class="form-control" value="<%= user.phone %>">
										</div>
										<div class="form-group">
											<input type="text" name="address" class="form-control" value="<%= user.address %>">
										</div>
										<div class="form-group">
											<input type="text" name="apt_suite" class="form-control" value="<%= user.apt_suite %>">
										</div>
										<div class="form-group">
											<input type="text" name="city" class="form-control" value="<%= user.city %>">
										</div>
										<div class="form-group">
											<input type="text" name="state" class="form-control" value="<%= user.state %>">
										</div>
										<div class="form-group">
											<input type="text" name="zip" class="form-control" value="<%= user.zip %>">
										</div>
										<br>
										<input type="submit" class="btn btn-success" value="Update">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cp-counters" style="background-image: url(images/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
			<div class="cp-narrow-content animate-box">
				<div class="row" >
					<div class="col-md-4 text-center">
						<span class="cp-counter js-counter" data-from="0" data-to="130" data-speed="5000" data-refresh-interval="50"></span>
						<span class="cp-counter-label">Happy Clients</span>
					</div>
					<div class="col-md-4 text-center">
						<span class="cp-counter js-counter" data-from="0" data-to="1450" data-speed="5000" data-refresh-interval="50"></span>
						<span class="cp-counter-label">Facebook Likes</span>
					</div>
					<div class="col-md-4 text-center">
						<span class="cp-counter js-counter" data-from="0" data-to="7497" data-speed="5000" data-refresh-interval="50"></span>
						<span class="cp-counter-label">Instagram Likes</span>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3 class="section-title">Christa</h3>
							<p>Christa Patrice, was born ‘positively peculiar’ … winning a plethora of  awards & accolades for her Art in middle & high school,  she decided to further her <a href="/about">more...</a></p>
						</div>

						<div class="col-md-4 col-md-push-1">
							<h3 class="section-title">Links</h3>
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/product">Product</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>

						<div class="col-md-4">
							<h3 class="section-title">User</h3>
							<ul>
								<li><a href="/register_login">Register/Login</a></li>
								<li><a href="/cart">Shopping Cart</a></li>
								<li><a href="#">Terms &amp; Condition</a></li>
								<li><a href="#">Privacy &amp; Policy</a></li>
							</ul>
						</div>
					</div>
					<div class="row copy-right">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="cp-social-icon">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
							<p>&copy; 2017. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>

	<!-- Main JS -->
	<script src="js/main.js"></script>

	</body>
</html>
